

.single-card__container {
  background-color: var(--dark-blue-4);
  padding: 3% 2% 2% 2%;
  margin: 10px;
  height: 300px;
  width: 100%;
  max-width: 500px;
}

.single-card__image {
  height: 95%;
  width: 100%;
  object-fit: cover;
}

.single-card__caption{
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}