.photo-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.photo-circle:after {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.photo-circle img {
  width: auto;
  height: 155%;
  margin-top: -60px;
}

.icons-container img {
  width: 40px;
}

.icons-container {
  display: flex;
  justify-content: center;
  padding: 48px;
}

.icons-container a {
  margin: 10px;
}
