{
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".js",
          ".json",
          ".vue",
          ".css"
        ],
        "alias": {
          "@app": "./src/app",
          "@api": "./src/api",
          "@assets": "./src/assets",
          "@libs": "./src/libs",
          "@patterns": "./src/patterns"
        }
      }
    ]
  ]
}