.design-portfolio-image {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  height: auto;
  margin-bottom: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.linkUnstyled {
  text-decoration: none;
  color: inherit;
}

p {
  font-weight: 100;
  color: var(--white);
}

ul.blue-bullets li::before {
  content: "\25AA";
  color: var(--normal-blue);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 24px;
}

ul {
  list-style: none;
}

ul.blue-bullets li {
  color: var(--white);
  font-weight: 100;
  font-family: roboto;
}

.left-arrow {
  cursor: pointer;
  padding: 8px;
  top: 111px;
  left: 30px;
  z-index: 4;
}

.left-arrow i {
  color: var(--white);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  width: 30px;
  height: 30px;
}
