@media (min-width: 768px) {

  /* Scroll styles */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--dark-blue-gray-1);
  }

  .mobile-menu-button {
    display: none;
  }
}

@media (max-width: 767px) {
  .photo-circle {
    width: 150px;
    height: 150px;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .photo-circle img {
    object-fit: fill;
    width: 150px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  header.desktop-menu {
    display: none;
  }

  .main-content {
    margin-top: 72px;
  }

  .event-container .content {
    padding: 0;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .event-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .event-container::before {
    left: 60px;
    border: medium solid transparent;
    border-width: 10px 10px 10px 0;
    border-color: transparent transparent transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 20px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .left {
    text-align: left;
  }

  .modal-content {
    width: 100%;
  }

  .react-tabs__tab {
    font-size: 24px;
  }

  .slideshow-container {
    max-width: 100%;
  }

  .left-arrow {
    top: 18px;
    left: 13px;
    position: absolute;
  }

  .left-arrow i {
    width: 16px;
    height: 16px;
  }

  .card {
    display: block;
  }

  .card-content {
    width: 100%;
  }

  .card-photo {
    width: 100%;
    height: auto;
  }

  .card-content h3 {
    line-height: 1.5;
  }

  ul.three-colums {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .error-404 {
    font-size: 140px;
  }
}