/* -------------------- Fonts */

@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&display=swap");

/* -------------------- Variables */
:root {
  --white: white;
  --black: black;

  --dark-blue-4: #002a3db3;
  --dark-blue-3: #002a3d;
  --dark-blue-2: #0f4c69;
  --dark-blue-1: #227ea8;

  --light-blue-3: #59b7e3;
  --light-blue-2: #90d5f5;
  --light-blue-1: #b5e7ff;

  --dark-blue-gray-3: #366377;
  --dark-blue-gray-2: #5d8ba0;
  --dark-blue-gray-1: #80b0c6;

  --normal-blue: #1d91c7;
}

body,
html {
  height: 100%;
}

.bkg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.bkg-1 {
  background-image: url("../pages/images/bkg-1.jpg");
}

.bkg-2 {
  background-image: url("../pages/images/bkg-2.jpg");
}

.bkg-rec {
  z-index: 2;
  background-color: var(--dark-blue-4);
}

.full-page {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: fixed;
}

.main-content {
  margin-top: 72px;
  padding: 0 5%;
}

h1 {
  font-family: raleway;
  font-weight: 600;
  font-size: 56px;
  color: var(--white);
  text-transform: uppercase;
  margin: 0 auto;
}

h1 span {
  color: var(--normal-blue);
}

h4 {
  font-family: raleway;
  font-weight: 200;
  font-size: 24px;
  color: var(--white);
  text-transform: unset;
  margin: 0 auto;
}

.align-center {
  text-align: center;
}
