.gratefulness-card {
  background-color: transparent;
}

.gratefulness-card h3 {
  line-height: 2;
  color: var(--white);
}

.blog-photo-circle img {
  height: 117%;
  width: auto;
}

.blog-photo-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

ul.two-colums {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

ul.three-colums {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
