.photo-circle {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.photo-circle img {
  object-fit: cover;
  width: 100%;
}
